.form-row{
    margin-bottom: 3%;
    padding-top: 3%;
}
.form-group{
    width: 48%;
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    width:98%;
    padding: 2% 1%;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-top: 5px;
}
input[type="button"]{
    border:none;
    background-color: var(--lightPurple);
    color:var(--white);
    border-radius: 3px;
    padding: 10px;
}
#contact p{
    font-size: 14px;
    margin-left: 5px;
    color:rgba(0, 0, 0, 0.9);
}
#contact{
    padding-top: 8%;
    padding-bottom: 8%;
}
select{
    border-radius: 4px;
    padding: 10px 10px;
}
.radio-wrapper{
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 15px 15px;
    background-color: var(--lightPurple);
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

button:hover{
    animation: wiggle 2s linear infinite;
}

#contact-form{
    padding: 10px 50px;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }